{% extends 'layout/ui-base.twig' %}
{% block content %}

	<section id="blog-post-ui" class="row full-view">

		<div class="blog-content">
			<div class="blog_title">
				<p>
					<span class="time">/{{ page.created|date("F d, Y") }}</span>
					<span class="author">/{{page.createdUser.name}}</span>
				</p>
				<h1>{{page.title}}</h1>

			</div>

			{{ page.blog_body}}
			<div class="comment-section">
				{{ page.blog_comments.renderForm() }}
				{{ page.blog_comments.render() }}
			</div>
		</div>

		{% if page.blog_images is defined %}
			<div class="blog-ui-interactive-board">
				<img src="{{page.blog_images.url}}" alt="{{ page.blog_images.basename }}">
			</div>
		{% endif %}

	</section>

{% endblock %}
