{% extends 'layout/ui-home.twig' %}

{% block content %}
    <body>
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <div class="site-wrapper overflow-hidden ">
        <!-- Header Area -->
        {% include ('layout/elements/menu.twig') %}
        <!-- Hero Area -->
        <div class="omga-05__hero-area ">
            <div class="container">
                <div class="row position-relative">
                    <div class="col-md-5 order-md-2 position-static">
                        <div class="omga-05__hero-image">
                            <img src="{{ config.urls.templates }}image/png/l5-hero-image.png" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-delay="2200" data-aos-once="true">
                        </div>
                    </div>
                    <div class="col-md-7 order-md-1">
                        <div class="omga-05__hero-content py-lg--50">
                            <h1 class="title"> {{ page.blog_headline }} </h1>
                            <p>Create custom landing pages with Omega that convert more visitors than any website. With lots of unique blocks, you can easily build a page without coding.</p>
                            <div class="omga-05__hero-btn">
                                <a href="" class="btn--primary">Start 14 Days Free Trial</a>
                                <span class="button-bottom-text">No credit card required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature section -->
        <div class="omga-05__feature-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6 mb--30">
                        <div class="feature-widget--5">
                            <div class="widget-icon">
                                <img src="{{ config.urls.templates }}image/png/icon-layout.png" alt="">
                            </div>
                            <div class="widget-texts">
                                <h3 class="title">Multiple Modern Layouts</h3>
                                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 offset-md-1 offset-lg-0 mb--30">
                        <div class="feature-widget--5">
                            <div class="widget-icon">
                                <img src="{{ config.urls.templates }}image/png/icon-layers.png" alt="">
                            </div>
                            <div class="widget-texts">
                                <h3 class="title">Built with Bootstrap 4</h3>
                                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 mb--30">
                        <div class="feature-widget--5">
                            <div class="widget-icon">
                                <img src="{{ config.urls.templates }}image/png/icon-responsive.png" alt="">
                            </div>
                            <div class="widget-texts">
                                <h3 class="title">Fully Responsive</h3>
                                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page quickly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer section -->
        <!-- Footer section -->
        <div class="footer-section footer-2 section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 mb--50 mb-lg--0">
                        <div class="pr-lg--50">
                            <div class="footer-logo mb--20">
                                <img src="{{ config.urls.templates }}image/png/l1-logo.png" alt="">
                            </div>
                            <p>With lots of unique blocks, you can easily build a page without coding.</p>
                            <ul class="social-icons round-social">
                                <li><a href=""><i class="icon icon-logo-twitter"></i></a></li>
                                <li><a href=""><i class="icon icon-logo-instagram"></i></a></li>
                                <li><a href=""><i class="icon icon-logo-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="single-footer mb--50 mb-lg--30">
                                    <h5 class="footer-title">About</h5>
                                    <ul class="footer-list">
                                        <li><a href="">Our mission</a></li>
                                        <li><a href="">Our story</a></li>
                                        <li><a href="">Team Members</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="single-footer mb--50 mb-lg--30">
                                    <h5 class="footer-title">Learn</h5>
                                    <ul class="footer-list">
                                        <li><a href="">Tutorials</a></li>
                                        <li><a href="">How it works</a></li>
                                        <li><a href="">F.A.Q</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="single-footer mb--50 mb-lg--30">
                                    <h5 class="footer-title">Stories</h5>
                                    <ul class="footer-list">
                                        <li><a href="">Blog</a></li>
                                        <li><a href="">Tech stories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="single-footer mb--50 mb-lg--30">
                                    <h5 class="footer-title">Contact us</h5>
                                    <ul class="footer-list contact-list">
                                        <li><a href="">support@uxtheme.net
                                            </a></li>
                                        <li><a href="">+133-394-3439-1435</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}