<!-- Vendor Scripts -->
<script src="{{ config.urls.templates }}plugins/jquery/jquery.min.js"></script>
<script src="{{ config.urls.templates }}plugins/jquery/jquery-migrate.min.js"></script>
<script src="{{ config.urls.templates }}plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin's Scripts -->
<script src="{{ config.urls.templates }}plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="{{ config.urls.templates }}plugins/nice-select/jquery.nice-select.min.js"></script>
<script src="{{ config.urls.templates }}plugins/aos/aos.min.js"></script>
<script src="{{ config.urls.templates }}plugins/slick/slick.min.js"></script>
<!-- Activation Script -->
<script src="{{ config.urls.templates }}js/custom.js"></script>
</body>

</html>