<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="image/png/favicon.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href="{{ config.urls.templates }}plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}fonts/icon-font/css/style.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}fonts/typography-font/typo.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}fonts/fontawesome-5/css/all.css">
    <!-- Plugin'stylesheets  -->
    <link rel="stylesheet" href="{{ config.urls.templates }}plugins/aos/aos.min.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}plugins/nice-select/nice-select.min.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}plugins/slick/slick.min.css">
    <!-- Vendor stylesheets  -->
    <link rel="stylesheet" href="{{ config.urls.templates }}css/settings.css">
    <link rel="stylesheet" href="{{ config.urls.templates }}css/main.css">
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ config.urls.templates }}css/custom.css">
</head>

